<html>
  <head>
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> 
    -->
    <script type="text/javascript" src="static/autovj.js"></script>
    <link rel="stylesheet" type="text/css" href="static/autovj.css">
  </head>
  <body onload="init()">
    {% for d in fields %}
    <div class="{{ d[0] }}" id="{{ d[0] }}">
      {% for f in d[1] %}
        {% for i in range(f[1]) %}
          <input type="radio" name="{{ f[0] }}" id="{{ f[0] }}" value={{ i }} onclick="slider('{{ f[0] }}', {{ i }})">
        {% endfor %}
        {{ f[0] }}{% if f[1] > 2 %}<br />{% else %} : {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
